@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: rgb(14, 13, 13);
}

header , main {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 120px;
  text-align: center;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/040/890/255/small_2x/ai-generated-empty-wooden-table-on-the-natural-background-for-product-display-free-photo.jpg");
  background-size: cover;
  background-position: center, bottom;
  
}

.profile-img {
  width: 150px;
  margin-top: 30px;
  border: 5px solid rgb(232, 225, 225);
  border-radius: 20%;
  box-sizing: content-box;
}