@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: rgb(29, 27, 27);
  color: rgb(29, 27, 27);
}

header , main {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 120px;
  text-align: center;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/040/890/255/small_2x/ai-generated-empty-wooden-table-on-the-natural-background-for-product-display-free-photo.jpg");
  background-size: cover;
  background-position: center, bottom;
  
}

.profile-img {
  width: 150px;
  margin-top: 30px;
  border: 5px solid rgb(232, 225, 225);
  border-radius: 20%;
  box-sizing: content-box;
}

main {
  background: rgb(207, 202, 202);
  padding-top: 60px;
  padding-bottom: 1px;
  text-align: center;
  border-radius: 0 0 6px 6px;
}

.intro-text {
  font-size: 1rem;
  margin-top: 1.2em;
}

.name {
  font-size: 2.5rem;
  margin-top: 0.25em;
}

.info {
  width: 100%;
  background-color: rgb(194, 165, 128);
  margin: 0;
  padding: 20px 10px;
}

ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.info > ul > li {
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

i{
  font-size: 1.25rem;
}

.gray {
  color: rgb(78, 79, 79);
}

.blue {
  color: rgb(7, 159, 159);
}

.red {
  color: rgb(195, 4, 4);
}

.pink {
  color: rgb(223, 91, 113);
}

.info-list {
  margin-left: .5em;
}

.btn {
  display: block;
  width: 90%;
  padding: 10px;
  background: rgb(0, 96, 0);
  border:  none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 1.5em auto;
  border-radius: 6px;
  color: rgb(207, 202, 202);
}

.btn:hover,
.btn:focus {
  background-color: rgb(118, 0, 0);
  cursor: pointer;
}

@media(min-width: 900px) {
  body {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  header {
    position: relative;
    width: 400px;
    height: 100vh;
  }

  main {
    display: grid;
    padding-top: 0;
    grid-template-areas: 
    "name name name name info info info info"
    "name name name name info info info info"
    "name name name name info info info info"
    "name name name name info info info info"
    "btns btns btns btns btns btns btns btns"
    ;
    
    
  }

  .profile-img {
    position: absolute;
    width: 35vh;
    max-width: 300px;
    left: calc(400px + 20%)
  }

  .main-info {
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .info {    
    grid-area: info;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .btn {
    grid-area: btns;
  }

  ul {
    flex-direction: column;
    
  }

  .info > ul > li,
  .info > ul > li > i {
    font-size: 1.25rem;
  }

  

}

@media(min-width: 1020px) {

  .profile-img {    
    left: calc(400px + 40%);
    
  }
}